    .due {
    margin: 100px auto 0;
}

.fine {
    @media (max-width: 769px) {
            max-width: 85%;
        }
    margin: 60px auto;
    
    text-align: right;
    font-weight: 100;
}


/*--------CARD IMMAGINI-------*/



.flexCard {


    margin: 0 auto;

    padding: 0 0 16px;

    align-items: flex-end;
    justify-content: space-between;
}

.flexMattoni {

    display: flex;
    padding-top: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mattone {
    flex: 1 0 30%;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
    margin-top: 12px;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-right: 12px;
}

.mattone:nth-child(3n + 0) {
    margin-right: 0;
}




@media screen and (max-width: $tablet) {

    #distanza{
    padding-top: 40px;
}
}
   





@media screen and (min-width:$tablet){
    .cardContainer:first-child{
        padding-left: 0;
    }

    .row .col .intestazione{ 
        padding:0;
     }
}

@media screen and (max-width:$mobile){
    
    header.intestazione{
        margin: 0;
        padding: 1rem;
        

    }

    header.due{
        margin: 100px auto 0;
        font-weight: 100;
    }

        .cardContainer:nth-child(2n + 0) {
            padding-top:60px;
        }
        
        .cardContainer:first-child{
            padding-top:10px;
        }
     
}



@media screen and (max-width:$desktop){
    
    .cardContainer:nth-child(3n + 0){
        padding-top: 60px;
    
    }
}

/* @media screen and (max-width: $tablet){
    .row .col.m6 {
        flex: 0 1 calc(50% - 15px);
    }
} */

.NoMargin {
    margin: 0px!important;
}

article h2 {
    @media (max-width: 415px) {
            margin-top: 60px;
        }
        @media (max-width: 769px) {
                margin-top: 60px;
            }
    font-weight: 900;
    color: #595B60;
    padding-bottom: 10px;
    font-size: 1.4rem;
    margin: 0;
}


article h3 {
    @media (max-width: 415px) {
            padding: 16px 0 10px;
        }
    font-weight: 900;
    color: #595B60;
    padding-bottom: 10px;
    font-size: 1.4rem;
    margin: 0;
}

span {
    font-weight: 300;
    color: #595B60;
    font-size: 0.9rem;
}

article p {
    @media (max-width: 415px) {
            padding: 0px;
        }
    font-weight: 400;
    color: #545454;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

article p span {
    font-weight: 100;
    color: #545454;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

#spazioAllaFine {
    margin-bottom: 80px;
}





    



