/* CSS Document */
// colors
$darkGray: #434343;

$gray: lighten($darkGray, 15%);


$columns: 12;
$desktop: 1280px;
$laptop: 940px;
$tablet: 768px;
$mobile: 600px;
$desktop-up: "only screen and (min-width : #{$desktop + 1})";
$laptop-up: "only screen and (min-width : #{$laptop + 1})";
$tablet-up: "only screen and (min-width : #{$tablet + 1})";
$desktop-down: "only screen and (max-width : #{$desktop})";
$laptop-down: "only screen and (max-width : #{$laptop})";
$tablet-down: "only screen and (max-width : #{$tablet})";