/* CSS Document */
/* CSS Document */
html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

html h1 {
  font-size: 2rem;
}

html h2 {
  margin: 10px 0 0 0;
}

body {
  margin: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #434343;
}

.row .col {
  padding: 0 1rem;
  box-sizing: border-box;
}

/*----------LOGO------*/
.brand {
  display: flex;
  margin: 40px 30px 46px;
  justify-content: center;
  align-content: center;
}

.brand i {
  display: none;
}

@media screen and (max-width: 1280px) {
  .brand i {
    display: inline;
  }
}

.brand a img {
  height: 7rem;
}

/*---------NAV BAR------*/
nav.navbar {
  background: #F4F4F4;
  color: #6E6E6E;
  padding: .5rem 1rem;
  display: none;
  justify-content: center;
  align-items: center;
  height: 42px;
}

@media screen and (min-width: 1280px) {
  nav.navbar {
    display: flex;
  }
}

nav.navbar ul:not(.sideNav) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
}

li {
  list-style: none;
  padding: .5rem 2.5rem 0.38rem 2.5rem;
  font-weight: 300;
  font-size: 19px;
  cursor: pointer;
}

/*------------SIDENAV-------------*/
ul.sideNav {
  transition: all .3s ease;
  position: fixed;
  width: 256px;
  left: 0;
  top: 0;
  margin: 0;
  height: calc(100% + 60px);
  padding: 1rem 2rem;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  ul.sideNav {
    display: none;
  }
}

ul.sideNav > li {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;
  margin: 16px 0;
}

ul.sideNav > li > a {
  display: flex;
  align-items: center;
}

ul.sideNav > li i {
  font-weight: inherit;
}

ul.sideNav > li ul {
  max-height: 0;
  overflow-y: hidden;
  flex: 0 1 100%;
  transition: max-height .3s ease-out;
  animation: slide-out .3s ease-in;
}

ul.sideNav > li ul li {
  padding: .5rem 0;
  margin: 16px 0 0;
}

ul.sideNav > li ul.open {
  animation: slide-in .3s ease-out;
  max-height: 14rem;
  overflow-y: visible;
}

ul.sideNav.open {
  transform: translateX(0);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

#menu {
  position: absolute;
  top: 43px;
  left: 27px;
}

@media screen and (min-width: 1280px) {
  #menu {
    display: none;
  }
}

i.dropdown {
  color: #6A6A6A;
  margin-left: 5px;
  font-size: 30px;
}

#close {
  font-size: 31px;
  color: #6A6A6A;
  margin: 0 0 20px;
  position: absolute;
  top: 15px;
  right: 20px;
}

li.close {
  display: flex;
  justify-content: space-between;
}

/*------------FOOTER------------------*/
.flexFoot {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 24px 0;
}

.footer-item {
  flex: 1 0 calc(20% - 1rem);
  margin: 0 .5rem;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.2rem;
  color: #F0F0F0;
  display: flex;
  justify-content: center;
}

footer#main-footer {
  width: 100%;
  min-height: 10rem;
  background: #484848;
  color: #FFFFFF;
}

address {
  font-style: normal;
}

footer#main-footer ul {
  margin: 0;
}

footer#main-footer a {
  text-decoration: none;
  color: #E15C2A;
}

.log-foot {
  height: 3rem;
  margin-top: 12px;
}

.mail a {
  color: #FFFFFF;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border: thin solid #E7E7E7;
  z-index: 1;
}

.dropdown-content a {
  color: #6E6E6E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* mobile layout */
@media screen and (max-width: 768px) {
  .flexFoot {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-item {
    flex-basis: 100%;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
  }
}

@media (max-width: 415px) {
  .cardContainer {
    flex: 1 0 100%;
  }
  .brand a img {
    height: 4.5rem;
  }
}

/* i-pad layout */
@media (max-width: 600px) {
  .flexFoot {
    flex-direction: column;
  }
  nav.navbar {
    display: none;
  }
  .brand a:first-child {
    display: flex;
    align-content: center;
    color: #6E6E6E;
  }
}

.ham {
  font-size: 40px;
  color: #6A6A6A;
}

/*--------INTESTAZIONE--------- */
header.intestazione {
  margin: 60px auto 40px;
}

@media (max-width: 415px) {
  header.intestazione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 10px !important;
    padding: 0;
  }
  header.intestazione h1 {
    font-size: 2.6rem;
  }
  header.intestazione p {
    font-size: 0.8rem;
  }
}

@media (max-width: 415px) and (max-width: 769px) {
  .flexContainerInterview {
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
  }
  .cell40 {
    display: flex;
    justify-content: center;
  }
  figcaption {
    margin: 10px auto 30px;
  }
  header.intestazione {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
  }
}

header.intestazione h1 {
  font-weight: 500;
  color: #434343;
  font-size: 2.8rem;
  padding: 10px 0 5px;
  margin: 0;
}

header.intestazione p {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  color: #434343;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1px;
  height: 28px;
  width: 200px;
  background-color: #FAC728;
  border-radius: 50px;
  margin-top: 20px;
}

/* CSS Document */
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 81%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.row .col {
  padding: 0 1rem;
  box-sizing: border-box;
}

.row .col.s1 {
  flex: 1 0 8.33333%;
}

.row .col.s2 {
  flex: 1 0 16.66667%;
}

.row .col.s3 {
  flex: 1 0 25%;
}

.row .col.s4 {
  flex: 1 0 33.33333%;
}

.row .col.s5 {
  flex: 1 0 41.66667%;
}

.row .col.s6 {
  flex: 1 0 50%;
}

.row .col.s7 {
  flex: 1 0 58.33333%;
}

.row .col.s8 {
  flex: 1 0 66.66667%;
}

.row .col.s9 {
  flex: 1 0 75%;
}

.row .col.s10 {
  flex: 1 0 83.33333%;
}

.row .col.s11 {
  flex: 1 0 91.66667%;
}

.row .col.s12 {
  flex: 1 0 100%;
}

@media screen and (max-width: 940px) {
  .row .col.m1 {
    flex: 0 1 8.33333%;
  }
  .row .col.m2 {
    flex: 0 1 16.66667%;
  }
  .row .col.m3 {
    flex: 0 1 25%;
  }
  .row .col.m4 {
    flex: 0 1 33.33333%;
  }
  .row .col.m5 {
    flex: 0 1 41.66667%;
  }
  .row .col.m6 {
    flex: 0 1 50%;
  }
  .row .col.m7 {
    flex: 0 1 58.33333%;
  }
  .row .col.m8 {
    flex: 0 1 66.66667%;
  }
  .row .col.m9 {
    flex: 0 1 75%;
  }
  .row .col.m10 {
    flex: 0 1 83.33333%;
  }
  .row .col.m11 {
    flex: 0 1 91.66667%;
  }
  .row .col.m12 {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 940px) {
  .row .col.l1 {
    flex: 0 1 8.33333%;
  }
  .row .col.l2 {
    flex: 0 1 16.66667%;
  }
  .row .col.l3 {
    flex: 0 1 25%;
  }
  .row .col.l4 {
    flex: 0 1 33.33333%;
  }
  .row .col.l5 {
    flex: 0 1 41.66667%;
  }
  .row .col.l6 {
    flex: 0 1 50%;
  }
  .row .col.l7 {
    flex: 0 1 58.33333%;
  }
  .row .col.l8 {
    flex: 0 1 66.66667%;
  }
  .row .col.l9 {
    flex: 0 1 75%;
  }
  .row .col.l10 {
    flex: 0 1 83.33333%;
  }
  .row .col.l11 {
    flex: 0 1 91.66667%;
  }
  .row .col.l12 {
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .row .fw, .row .col.s1, .row .col.s2, .row .col.s3, .row .col.s4, .row .col.s5, .row .col.s6, .row .col.s7, .row .col.s8, .row .col.s9, .row .col.s10, .row .col.s11, .row .col.s12 {
    flex-basis: 100%;
  }
}

.row {
  margin: 0 -1rem 0px 0;
}

header.intestazione {
  margin: 60px auto 40px;
  padding-left: 15px;
}

div.nome {
  padding: 0 1rem;
}

@media (max-width: 415px) {
  div.nome {
    /*INTERVISTA*/
  }
  div.nome div.nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10px;
    padding: 0;
  }
  div.nome div.nome h2 {
    font-size: 2.6rem;
  }
  div.nome div.nome p {
    font-size: 0.8rem;
  }
}

div ul li {
  padding: 0;
}

.return {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  color: #E15C2A;
  margin: 0 0 100px;
}

.contest h3 {
  font-size: 1.2rem;
  margin: 13px 0 auto;
  font-weight: 300;
  color: #434343;
}

.contest li {
  list-style: disc;
  color: #FAC728;
  font-size: 28px;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.contestLink {
  margin-bottom: 200px;
}

@media (max-width: 769px) {
  div.nome {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 auto 60px;
  }
}

div.progetto {
  margin: 30px auto !important;
}

div.distanza {
  padding-bottom: 120px;
}

@media (max-width: 415px) {
  div.distanza {
    padding-bottom: 40px;
  }
}

div.nome h2 {
  font-weight: 500;
  color: #434343;
  font-size: 1.8rem;
  padding: 30px 0 0;
  margin: 0;
}

div.nome p {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  color: #434343;
}

.flexCard {
  padding: 0;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 415px) {
  .flexCard .flexCard {
    flex-direction: column;
    width: 90%;
  }
}
/*# sourceMappingURL=contest.css.map */